biopython==1.76
click==7.1.1
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysql-connector==2.1.7
numpy==1.18.3
Werkzeug==1.0.1
matplotlib==3.2.1
requests==2.23.0
wordcloud==1.7.0
requests~=2.23.0
