{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #2b2b2b; }
    .bluegreeny {color:#fff !important; background-color: #5da8a2 !important}
    .blacky {color:#fff !important; background-color: #2b2b2b !important}
  </style>
{% endblock %}
{% block content %}
  <div class="w3-card w3-dark-grey w3-padding">
  <div class="w3-container w3-margin blacky">
      <div class="w3-panel bluegreeny w3-round-xlarge" style="width: 25%" ><h1 class="w3-text-white">WE ARE HAVING STRUGGLES</h1></div>
  </div>
  <p class="w3-text-white w3-margin">
    I'm sorry but there's a problem in our code...
      anyway here is a cute gif </p>
  <p><a href="{{ url_for('hello_world') }}" class="w3-button w3-margin bluegreeny" style="width:100%">Go back to HomePage</a>
      </div>
    <div class="w3-container w3-center">
        <img src="../static/lucas.gif" class="w3-center" style="width:100%"  alt="icon">
    </div>

{% endblock %}