{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #2c2c55; }
  </style>
{% endblock %}
{% block content %}
  <div class="w3-card w3-white">
  <h1>WE ARE HAVING STRUGGLES</h1>
  <p class="important">
    So were having an issue on our end..
      anyway here is a cute gif </p>
  <p><a href="{{ url_for('hello_world') }}" class="w3-button w3-theme-l3-darkpurple" style="width:100%">Go back to HomePage</a>
      </div>
    <div class="w3-container w3-center">
        <img src="../static/loading%20error.gif" class="w3-center" style="width:100%"  alt="icon">
    </div>

{% endblock %}